    body {
      font-family: Arial, Helvetica, sans-serif;
      background: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      font-weight: 700;
      margin-bottom: 20px;
    }

    /* Progress Bar */
    .progress-container {
      position: relative;
      width: 400px;
      height: 30px;
      background: #ddd;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .progress-bar {
      height: 20px;
      width: 25%;
      padding: 5px ;
      background: linear-gradient(90deg, #2e80fb);
      border-radius: 10px;
      color: white;
      text-align: center;
      font-size: 13px;
      line-height: 20px;
      font-weight: bold;
      transition: width 0.3s ease-in-out;
    }

    .card {
      width: 350px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 30px;
      text-align: center;
      margin-bottom: 20px;
    }

    .card p {
        
        padding: auto;
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }

    .buttons {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      transition: 0.2s;
    }

        button:hover {
        opacity: 0.9;
        }

        button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

    .btn-primary {
      background: #007bff;
      color: white;
    }

    .btn-secondary {
      background: #f4f4f4;
      color: #555;
    }

    .btn-next {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 5px;
    transition: background-color 0.2s;
    }

    .btn-prev {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 5px;
    transition: background-color 0.2s;
    }

    /* Animation for showing and hiding answers */
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.4s ease forwards;
}

.fade-out {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
